<a href="https://colab.research.google.com/github/Kanika211/World-Bank-Global-Education_EDA_capstone1/blob/main/World_Bank_Global_Education_Capstone1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**</u>World Bank Global Education Group**</u>

#### The world bank global group is the largest financier of education. It's main strategy is focused on <b>"learning for all".<b>

##### Now talk's about what world bank does and how it works for Education....

## <b>What is World Bank?<b>

* The World Bank is an international organization dedicated to providing financing, advice, and research to developing nations to aid their economic advancement. The bank predominantly acts as an organization that attempts to fight poverty by offering developmental assistance to middle- and low-income countries.

##  <b>What is the purpose of Global Education?</b>


The main purpose is opening a global dimension and a holistic perspective in education in order to help and understand the complex realities, develope values, knowledge and skills that enable them to face the challenges.

### Let's take a look at the problem statement

### <b>The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures.The indicators cover the education cycle from pre-primary to vocational and tertiary education and also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data.<b>
Explore and analyze the data to identify variation of indicators across the globe, which countries are more alike and different. Feel free to add more extensive analyses and details.

let's get into this and filtering out the ideas...

<b>First to import all the libraries<b>

In [2]:
from collections import Counter
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Let's Mount the Drive and analyse the data...

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

######Now First, try to evaluate all the Datasets and, it's relevance with the problem...

In [4]:
working_path = '/content/drive/MyDrive/Colab Notebooks'

Working path of all the datasets..

In [5]:
Edstats_country_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EdStatsCountry.csv')
Edstats_country_series_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EdStatsCountry-Series.csv')
Edstats_data_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EdStatsData.csv')
Edstats_footnotes_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EdStatsFootNote.csv')
Edstats_series_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EdStatsSeries.csv')

##<b>EdStats Data

Well, that's almost a million records. So, here we can see quite a lot of them are NaN, and some are years that exceed even 2020. So from here, we can assume that those years are nothing but predictions.
We will now account for those years that have passed the limit of 1999 and ignore the predictions as they might affect our analyses.

In [6]:
Edstats_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

In [7]:
Edstats_data_df.shape

(886930, 70)

In [8]:
Edstats_data_df.head()

  Country Name Country Code  ... 2100 Unnamed: 69
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN
2   Arab World          ARB  ...  NaN         NaN
3   Arab World          ARB  ...  NaN         NaN
4   Arab World          ARB  ...  NaN         NaN

[5 rows x 70 columns]

Let's check Edstats Country Series data....

##<b>EdStats Country Series<b>

Contains repeated data....

In [9]:
Edstats_country_series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

In [10]:
Edstats_country_series_df.shape

(613, 4)

In [11]:
Edstats_country_series_df.groupby("SeriesCode").first().reset_index()

           SeriesCode  ... Unnamed: 3
0   NY.GDP.MKTP.PP.CD  ...        NaN
1   NY.GDP.MKTP.PP.KD  ...        NaN
2      NY.GDP.PCAP.CD  ...        NaN
3      NY.GDP.PCAP.KD  ...        NaN
4   NY.GDP.PCAP.PP.CD  ...        NaN
5   NY.GDP.PCAP.PP.KD  ...        NaN
6   NY.GNP.MKTP.PP.CD  ...        NaN
7      NY.GNP.PCAP.CD  ...        NaN
8   NY.GNP.PCAP.PP.CD  ...        NaN
9   SP.POP.0014.FE.IN  ...        NaN
10  SP.POP.0014.MA.IN  ...        NaN
11     SP.POP.0014.TO  ...        NaN
12  SP.POP.0014.TO.ZS  ...        NaN
13  SP.POP.1564.FE.IN  ...        NaN
14  SP.POP.1564.MA.IN  ...        NaN
15     SP.POP.1564.TO  ...        NaN
16  SP.POP.1564.TO.ZS  ...        NaN
17        SP.POP.GROW  ...        NaN
18        SP.POP.TOTL  ...        NaN
19  SP.POP.TOTL.FE.ZS  ...        NaN
20  SP.POP.TOTL.MA.ZS  ...        NaN

[21 rows x 4 columns]

In both of these datasets, Unnamed Columns were present with all null values. In this we, also analyze that column 'Country Code' and 'Series Code' were given in that Country code is similar but Series Code has some values in it. Just keep checking further to have more analysis.

##<b>EdStats Series Data<b>

I Can see a different column named 'Topic'. Just check this column if it would contain some information related to the Indicator name.

In [12]:
Edstats_series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB

In [13]:
Edstats_series_df.shape

(3665, 21)

In [14]:
Edstats_series_df.head(5)

           Series Code       Topic  ... License Type Unnamed: 20
0  BAR.NOED.1519.FE.ZS  Attainment  ...          NaN         NaN
1     BAR.NOED.1519.ZS  Attainment  ...          NaN         NaN
2  BAR.NOED.15UP.FE.ZS  Attainment  ...          NaN         NaN
3     BAR.NOED.15UP.ZS  Attainment  ...          NaN         NaN
4  BAR.NOED.2024.FE.ZS  Attainment  ...          NaN         NaN

[5 rows x 21 columns]

In [15]:
sample_df=Edstats_series_df.groupby(['Topic']).first()
for i in sample_df["Indicator Name"]:
  print(i)

Barro-Lee: Percentage of female population age 15-19 with no education
Duration of compulsory education (years)
Africa Dataset: School census return rate from primary schools
SABER: (Early Childhood Development) Policy Goal 1: Establishing an Enabling Environment
Enrolment in pre-primary education, both sexes (number)
GNI per capita, Atlas method (current US$)
GDP (constant 2010 US$)
GDP (current US$)
GDP, PPP (current international $)
DHS: Gross attendance rate. Post Secondary
SABER: (Education Management Information Systems) Policy Goal 1: Enabling Environment
SABER: (Engaging the Private Sector, Government funded) Policy Goal 5: Encouraging innovation by providers
Current expenditure as % of total expenditure in public institutions (%)
Mortality rate, under-5 (per 1,000 live births)
Population growth (annual %)
Population ages 0-14, female
Prevalence of HIV, total (% of population ages 15-49)
Personal computers (per 100 people)
Share of youth not in education, employment or training, female (% of female youth population)
EGRA: Correct Letter Names Read Per Minute (Mean). Afan Oromo. 2nd Grade
Youth literacy rate, population 15-24 years, female (%)
Population, ages 3-5, female
Enrolment in post-secondary non-tertiary education, private institutions, both sexes (number)
Gross enrolment ratio, pre-primary, both sexes (%)
Gross enrolment ratio, primary, gender parity index (GPI)
SABER: (School Autonomy and Accountability) Policy Goal 1: Level of autonomy in the planning and management of school budget
SABER: (School Finance) Policy Goal 1: Ensuring basic conditions for learning
SABER: (School Health and School Feeding) Policy Goal 1: Policy Frameworks
Gross enrolment ratio, primary and secondary, gender parity index (GPI)
Labor force with advanced education, female (% of female working-age population with advanced education)
Unemployment, female (% of female labor force) (modeled ILO estimate)
SABER: (Student Assessment) Policy Goal 1: Classroom Assessment
Annual statutory teacher salaries in public institutions in USD. Pre-Primary. Starting salary
SABER: (Teachers) Policy Goal 1: Setting clear expectations for teachers
Gross enrolment ratio, tertiary, gender parity index (GPI)
SABER: (Tertiary Education) Policy Goal 1: Vision for Tertiary Education
SABER: (Workforce Development) Policy Goal 1: Strategic Framework